---
layout: blog_index
title: Clarity through writing
---

<div class="message">
  Really random everyday thinking. Not everything needs to be a formed thought.
</div>

{% for post in paginator.posts %}
<div class="posts">
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
  <div class="meta">
    <span class="date">{{ post.date | date_to_string }}</span>
  </div>
  {{ post.content }}
  <hr />
</div>
{% endfor %}
<!--
<a href="/">Home</a> | <a href="cv">Resume</a> | <a href="archive">A Place to Write</a> 
//-->


<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
