<header>
  <h1><%= link_to 'macapinlac.com', '/' %></h1>
  <div id="main_navigation">
    <ul>
      <li><%= link_to 'Home', '/' %></li>
      <li><a href="/feed.xml">RSS</a></li>
    </ul>
  </div>
</header>
