<header>
  <h1>
    <% link_to '/', class: 'h-card' do %>
      <span class="p-given-name">ritchie</span>
      <span class="p-family-name">macapinlac</span>.com
    <% end %>
  </h1>
  <div id="main_navigation">
    <ul>
      <li><%= link_to 'Home', '/' %></li>
      <li><a href="/feed.xml">RSS</a></li>
    </ul>
  </div>
</header>
